/* Small screens */
@media (max-width: 639px) {
    .openPage {
      padding: 20px;
      font-size: 20px; 
    }
    .content {
      flex-direction: column; 
    }
    
   
  }
 
  @media (min-width: 640px) and (max-width: 767px) {
    
  }
  
 
  @media (min-width: 768px) {
   
  }
  @media (max-width: 639px) {
    .openPage {
      padding: 20px;
    }
    .content {
      flex-direction: column;
    }
    .information-image {
      max-width: 100%;
      height: auto;
    }
  }
  